div {
    width: 800px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px gray;
    margin: auto;
    background-color: gray;
}

h1, p {
    margin-left: 20px;
}

.p2 {
    text-align: center;
}

h1 {
    font-weight: bold;
    color: red;
    background-color: black;
}